
// Body
$body-bg: #9CE9BB;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$navbar: #38c172;
$border: #38c172;

$card-border-color: #38c172;
$card-bg: #38c172;

$button-color: #38c172;
$button-border-color: #38c172;
$primary: #38c172;
$text: #fff;

$modal-success-background-title: #38c172;
$modal-success-title: #fff;
$modal-success-background-body: #fff;
$modal-success-body: #38c172;

$modal-error-background-title: #F44336;
$modal-error-title: #fff;
$modal-error-background-body: #fff;
$modal-error-body: #F44336;

$progress-bg: #9CE9BB;
$progress-border-color: #38c172;