
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body  {
  height: 100%;
  margin: 0;
  color: $text;
}

header, footer {
  height: 50px;
}

nav.navbar {
  background-color: $navbar;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-brand {
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: $navbar;
  text-align: center;
  line-height: 50px;
}

#app > .container {
  margin-top: 15px;
}

.element {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dropzone, .drag {
  display: inline-block;
}

.new-game {
  margin-bottom: 15px;
}

.sweet-modal-overlay.error .sweet-modal.theme-light {
  .sweet-title {
    background-color: $modal-error-background-title;
    color: $modal-error-title;
  }

  .sweet-box-actions .sweet-action-close {
    color: $modal-error-title;

    &:hover {
      background: $modal-error-title;
      color: $modal-error-background-title;
    }
  }

  .sweet-content {
    background-color: $modal-error-background-body;
    color: $modal-error-body;
  }
}

.sweet-modal-overlay.success .sweet-modal.theme-light {
  .sweet-title {
    background-color: $modal-success-background-title;
    color: $modal-success-title;
  }

 .sweet-box-actions .sweet-action-close {
   color: $modal-success-title;

   &:hover {
     background: $modal-success-title;
     color: $modal-success-background-title;
   }
 }

  .sweet-content {
    background-color: $modal-success-background-body;
    color: $modal-success-body;
  }
}

.sweet-modal.theme-light {
  .sweet-title > h2 {
    line-height: 64px;
  }
}

.progress-bar {
  width: 100%;
  position: relative;
  height: 37px;
  border-radius: 0.25em;
  background-color: $progress-bg;
  border: 1px solid $progress-border-color;

  .title {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    line-height: 37px;
  }

  .value {
    height: 100%;
    background-color: $progress-bar-bg;
    display: block;
    border-radius: 0.25em;
  }
}

.controls-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 100px;
  height: 52px;
}

.page.login .card-body {
  .username-wrapper {

    margin-bottom: 15px;
  }

  .row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px auto;

    .label {
      line-height: 1.6;
      margin-bottom: 0;
      padding: 0.375rem 0.75rem;
      text-align: right;
    }
  }
}
