
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body  {
  height: 100%;
  margin: 0;
  color: $text;
}

header, footer {
  height: 50px;
}

nav.navbar {
  background-color: $navbar;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-brand {
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: $navbar;
  text-align: center;
  line-height: 50px;
}

#app > .container {
  margin-top: 15px;
}

.element {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dropzone, .drag {
  display: inline-block;
}

.new-game {
  margin-bottom: 15px;
}

.sweet-modal.theme-light {
  .sweet-title {
    background-color: $modal-background-title;
    color: $modal-title;
  }

  .sweet-title > h2 {
    line-height: 64px;
  }

  .sweet-content {
    background-color: $modal-background-body;
    color: $modal-body;
  }

  .sweet-box-actions .sweet-action-close {
    color: $modal-title;

    &:hover {
      background: $modal-title;
      color: $modal-background-title;
    }
  }
}