
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body  {
  height: 100%;
  margin: 0;
}

header, footer {
  height: 50px;
}

nav.navbar {
  background-color: $navbar;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: $navbar;
  text-align: center;
  line-height: 50px;
}

#app > .container {
  margin-top: 15px;
}

.element {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}